.body {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   width: 100%;
   min-height: 100vh;
   padding: 80px 20px 40px;
   background-color: rgb(253, 246, 237);
}

.homeTitle {
   margin: 0 0 40px;
   text-align: center;
   color: rgb(48, 30, 13);
   font-size: 2rem;
}

.himg {
   width: 320px;
   object-fit: contain;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   grid-column-gap: 30px;
   grid-row-gap: 50px;
   grid-auto-rows: min-content;
}

.single {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 410px;
   align-items: center;
}

.hspan {
   color: rgb(85, 79, 79);
   font-size: 1.1rem;
   text-underline-offset: 8px;
   width: 300px;
}

.hbtn {
   width: 150px;
}

.noFlowers {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 300px;
   width: 100%;
   text-align: center;
}
.hp {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 2rem;
   color: rgb(48, 30, 13);
}

.noImg {
   height: 100%;
   width: 100%;
   max-width: 50vh;
   max-height: 400px;
   object-fit: contain;
   bottom: 28%;
   position: absolute;
}

@media (max-width: 1200px) {
   .container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 768px) {
   .container {
      grid-template-columns: 1fr;
   }

   .single {
      margin: 0 auto;
   }

   .homeTitle {
      font-size: 1.7rem;
   }
}

@media (max-width: 480px) {
   .body {
      padding-top: 100px;
   }

   .homeTitle {
      font-size: 1.5rem;
   }

   .hspan {
      font-size: 1rem;
   }

   .hp {
      font-size: 1.5rem;
   }
}
